{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}

    <form action="/add" method="post">
       <div class="input-group">
            <input autocomplete="off" required autofocus
                class="form-control  w-75 mx-auto"
                name="task" placeholder="Enter your task" type="text">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-end">Task</th>
                <th class="text-end">Completed</th>
                <th class="text-end">Delete</th>
            </tr>
        </thead>
       <tbody>
            {% for task in tasks %}
            <tr>
                <td class="text-end {% if task.completed %}text-decoration-line-through{% endif %}">{{task.task}}</td>
                <td class="text-end"><a href="/complete/{{ task.id }}">✅</a></td>
                <td class="text-end"><a href="/delete/{{ task.id }}">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
